<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Tecnófilos, creativos, trabajadores y transparentes!</h2>
                <hr class="light">
                <p class="text-faded">Somos una asociación que nació con el proposito de aprender más allá de lo que ofrece un grado técnico mediante la creación e investigación de nuestros proyectos.</p>
            </div>
        </div>
    </div>
</section>
