<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/RoboTech-URJC/noah_hardware" class="portfolio-box">
                    <img src="img/portfolio/noah.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nuestros proyectos
                            </div>
                            <div class="project-name">
                                Robot Noah
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/RoboTech-URJC/led-race" class="portfolio-box">
                    <img src="img/portfolio/led.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nuestros proyectos
                            </div>
                            <div class="project-name">
                                Proyecto LED Race
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/RoboTech-URJC/RobotechServer-Project" class="portfolio-box">
                    <img src="img/portfolio/server.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nuestros proyectos
                            </div>
                            <div class="project-name">
                                Proyecto Servidor-Red
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/RoboTech-URJC/Oasis" class="portfolio-box">
                    <img src="img/portfolio/oasis.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Nuestros proyectos
                            </div>
                            <div class="project-name">
                                Proyecto Oasis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
