<section class="no-padding" id="portfolio_now">
    <div class="container-fluid">
        <div class="hex-grid">
            <div class="hex">
                <a href="https://github.com/RoboTech-URJC/Robot-Scara" class="hexIn">
                    <img src="img/portfolio/noah.jpeg" class="img-responsive" alt="">
                    <div class="hex-content">
                        <div class="project-category text-faded">
                            Nuestros proyectos
                        </div>
                        <div class="project-name">
                            Robot Scara
                        </div>
                    </div>
                </a>
            </div>
            <div class="hex">
                <a href="https://github.com/RoboTech-URJC/Mano-Zeus" class="hexIn">
                    <img src="img/portfolio/zeus.jpeg" class="img-responsive" alt="">
                    <div class="hex-content">
                        <div class="project-category text-faded">
                            Nuestros proyectos
                        </div>
                        <div class="project-name">
                            Proyecto Zeus
                        </div>
                    </div>
                </a>
            </div>
            <div class="hex">
                <a href="https://github.com/RoboTech-URJC/HiroBot" class="hexIn">
                    <img src="img/portfolio/led.png" class="img-responsive" alt="">
                    <div class="hex-content">
                        <div class="project-category text-faded">
                            Nuestros proyectos
                        </div>
                        <div class="project-name">
                            Proyecto HiroBot
                        </div>
                    </div>
                </a>
            </div>
            <div class="hex">
                <a href="https://github.com/RoboTech-URJC/Ant-Project" class="hexIn">
                    <img src="img/portfolio/server.jpg" class="img-responsive" alt="">
                    <div class="hex-content">
                        <div class="project-category text-faded">
                            Nuestros proyectos
                        </div>
                        <div class="project-name">
                            Proyecto Hormiga
                        </div>
                    </div>
                </a>
            </div>
            <div class="hex">
                <a href="https://github.com/RoboTech-URJC/Icarus-Project" class="hexIn">
                    <img src="img/portfolio/oasis.jpeg" class="img-responsive" alt="">
                    <div class="hex-content">
                        <div class="project-category text-faded">
                            Nuestros proyectos
                        </div>
                        <div class="project-name">
                            Proyecto Drone
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
